# Settings for container
# Access to wallet is needed 
DFI_WALLET_ADDRESS=insert_your_wallet_address_here 
DFI_WALLET_ADDRESS_PRIV_KEY=insert_your_wallet_priv_key_here
DFI_WALLET_ADDRESS_VAULT_ID=insert_your_vault_id here 
