name: Docker Image CI

on:
  pull_request:
    branches: [ release ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout the repo 
      uses: actions/checkout@v2
    
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ${{ secrets.DOCKERHUB_USERNAME }}:latest
    
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }} 
        
    - name: Push the image 
      run: docker push ${{ secrets.DOCKERHUB_USERNAME }}:latest
